<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <h4>About</h4>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="aboutz">
    <ion-card class="cardz1">
      <img alt="Silhouette of mountains" src="./assets/images/cvoo.jpg" />
      <ion-card-header>
        <ion-card-title>CITY VETERINARY OFFICE</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        The Office of the City Veterinary and Agricultural Services prepares and
        implements an integrated agriculture development plan for the city, promotes
        appropriate agricultural technology to maximize utilization and production of
        agricultural areas.<br>
        <br>We, in the Office of the City Veterinary and Agricultural Services are
        committed to provide the highest possible service performance and pledge to achieve the services offered to the citizen.
        For more information kindly click the button below.
      </ion-card-content>
      <div class="but01">
      <ion-button fill="solid" color="success" onclick="location.href='https://www.batangascity.gov.ph/web/component/content/category/60-ocvas'">
        Visit Page</ion-button>
      </div>
    </ion-card>
  </div>

  
  <div class="member-container">

    <h2>Developer Team</h2>
    <div class="member">
    <ion-avatar class="img-mg">
    <img src="./assets/images/profile.png" alt="Profile Picture">
    </ion-avatar>
    <h2>Prince Gerald Asilo</h2>
    <p>Fullstack Developer.</p>
    <p>
      <a href="githubniyoguiz"><i class="fab fa-github icon"></i></a>
      &nbsp;
      <a href="mailto: calingasanmcali@gmail.com"><i class="far fa-envelope icon"></i></a>
    </p>
    </div>

    <div class="member">
    <ion-avatar class="img-mg">
    <img src="./assets/images/profile.png" alt="Profile Picture">
    </ion-avatar>
    <h2>Jerald Banalan</h2>
    <p>Fullstack Developer.</p>
    <p>
      <a href="https://github.com/MaherMiel"><i class="fab fa-github icon"></i></a>
      &nbsp;
      <a href="mailto: calingasanmcali@gmail.com"><i class="far fa-envelope icon"></i></a>
    </p>
    </div>

    <div class="member">
    <ion-avatar class="img-mg">
    <img src="./assets/images/profile.png" alt="Profile Picture">
    </ion-avatar>
    <h2>Maher Calingasan</h2>
    <p>Frontend Developer.</p>
    <p>
      <a href="https://github.com/MaherMiel"><i class="fab fa-github icon"></i></a>
      &nbsp;
      <a href="mailto: calingasanmcali@gmail.com"><i class="far fa-envelope icon"></i></a>
    </p>
    </div>

  </div>
</ion-content>
