.cardz1{
    border-radius: 20px;
}

.but01{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2{
    text-align: center;
}

.img-mg{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.member{
    text-align: center;
    border: solid 2px grey;
    margin-top: 20px;
    width: 80%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

