<ion-header>
  <ion-toolbar>
    <ion-title>Livestock Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="filterLivestock()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let livestock of filteredLivestock">
      <ion-label>
        <h3 class="heading animaltype">{{ livestock.animalType }}</h3>
        <p class="eartag">{{ livestock.earTag }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>