<ion-content>
  <ion-header class="ion-no-border">
    <h4 class="Title">Dispersal Management</h4>
  </ion-header>
  
  <div class="dispersal_list">
  
    <ion-searchbar animated="true" placeholder="Search ID"></ion-searchbar>
 
  
    <ion-item button detail="true" detail-icon="newspaper-outline" (click)="setOpen(true)">
      <ion-label>
        <h3>Dispersed Livestock</h3>
    
      </ion-label>
      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>
                Dispersal Information
              </ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="setOpen(false)">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <form [formGroup]="dispersalForm" (ngSubmit)="onSubmit()">
              <ion-item>
                <ion-label position="floating">Beneficiary ID</ion-label>
               
                <ion-input formControlName="benefeciaryId" type="text"></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-label position="floating">Livestock ID</ion-label>
                <ion-input formControlName="livestockId" type="text"></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-label position="floating">Description</ion-label>
                <ion-input formControlName="description" type="text"></ion-input>
              </ion-item>
            
              <ion-button expand="block" type="submit" [disabled]="!dispersalForm.valid">Disperse Livestock</ion-button>
            </form>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>
  

  
  
  </div>
</ion-content>