.Title{
  text-align: center;
}

ion-content {
    --ion-background-color: #f5f5f5;
    --ion-text-color: #333;
    --ion-button-color: #2ecc71;
  }
  
  ion-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    margin:10px;
    border-radius: 15px;
    box-shadow: 0 6px 6px -7px rgb(168, 167, 167);
  }
  
  ion-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  .searchbar_list{
    border-radius: 50px;
  }
  