<ion-content>
  <ion-header class="ion-no-border">
    <h4 class="Title">Dispersal Management</h4>
  </ion-header>
  
  <div class="dispersal_list">
  
    <ion-searchbar animated="true" placeholder="Search ID"></ion-searchbar>
 
  
    <ion-item button detail="true" detail-icon="newspaper-outline" (click)="setOpen(true)">
      <ion-label>
        <h3>Button Item</h3>
        <p>Detail set to true - detail arrow displays on both modes</p>
        <p>Detail icon set to caret-forward-outline</p>
      </ion-label>
      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>
                Dispersal Information
              </ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="setOpen(false)">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-item>
              <ion-label>User ID: </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Name: </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Address: </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Age: </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>User Type: </ion-label>
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>
  

  
  
  </div>
</ion-content>