.Title{
  text-align: center;
}

ion-content {
    --ion-background-color: #f5f5f5;
    --ion-text-color: #333;
    --ion-button-color: #2ecc71;
  }
  
  ion-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    margin:10px;
    border-radius: 15px;
    box-shadow: 0 6px 6px -7px rgb(168, 167, 167);
  }
  
  ion-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    height: fit-content;
  }
  
  ion-button {
    margin-top: 20px;
  }
  .searchbar_list{
    border-radius: 50px;
  }
  ion-content {
    --background: #f8f8f8; /* Set the background color of the content area */
  }
  
  ion-item {
    --padding-start: 20px; /* Set the left padding for the ion-items */
    --padding-end: 20px; /* Set the right padding for the ion-items */
  }
  
  ion-label {
    color: #333; /* Set the label text color */
  }
  
  ion-input {
    border: 1px solid #ccc; /* Add a border to the input field */
    border-radius: 8px; /* Add border radius to the input field */
    padding: 10px 16px; /* Add padding to the input field */
  }
  
  ion-button {
    --background: #007bff; /* Set the background color of the button */
    --color: #fff; /* Set the text color of the button */
    border-radius: 8px; /* Add border radius to the button */
    font-size: 16px; /* Set the font size of the button text */
    font-weight: bold; /* Set the font weight of the button text */
    margin-top: 20px; /* Add top margin to the button */
  }
  
  /* Style the button when it's disabled */
  ion-button[disabled] {
    --background: #ccc; /* Set the background color of the disabled button */
    cursor: not-allowed; /* Change the cursor style when the button is disabled */
  }
  
  /* Add a hover effect to the button */
  ion-button:not([disabled]):hover {
    --background: #0056b3; /* Set the background color of the button on hover */
  }