<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>

</ion-header>
<ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-icon name="contact"></ion-icon>

  <h5>Overview</h5>
  <ion-card>
    <ion-list>
      <h5>Total</h5>
    </ion-list>
  </ion-card>


  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>

      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="add-circle-outline"></ion-icon>

      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="folder"></ion-icon>

      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>