<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button>
        <ion-avatar slot="end">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxKYB_mwX1UfpPRLzRsRe3fZjZvCNVxtZQug&usqp=CAU" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="search-btn">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-toolbar>
<ion-content>
  <ion-item>
    <h2>Welcome back</h2>
  </ion-item>
  <h5>Overview</h5>
  <ion-card>
    <ion-list>
      <h5>Total</h5>
    </ion-list>
  </ion-card>