<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <h4>Livestock Management</h4>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Livestock
    </ion-label>
    <ion-select placeholder="all" [(ngModel)]="selectedBeneficiary" (ionChange)="onBeneficiarySelect">
      <ion-select-option value="livestock">Breed</ion-select-option>
      <ion-select-option value="livestock">ear tag</ion-select-option>
    </ion-select>
  </ion-item>
  <h4 class="heading ion-padding">List</h4>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start" style="--border-radius: 50%;">
        <!-- <img src=""> -->
      </ion-thumbnail>
      <ion-label>
        <h3 class="heading">CPDO Cattle</h3>
        <p>21-4b</p>
        <ion-badge color="dark">Catandala</ion-badge>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start" style="--border-radius: 50%;">
        <!-- <img src=""> -->
      </ion-thumbnail>
      <ion-label>
        <h3 class="heading">Goat Doe</h3>
        <p>12-02</p>

        <ion-badge color="dark">Catandala</ion-badge>
        <ion-buttons slot="primary">
          <ion-button>
            <!-- <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon> -->
          </ion-button>
        </ion-buttons>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>