<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <h4>Livestock Management</h4>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Livestock
    </ion-label>
    <ion-select placeholder="all" [(ngModel)]="selectedBeneficiary" (ionChange)="onBeneficiarySelect">
      <ion-select-option value="livestock">Breed</ion-select-option>
      <ion-select-option value="livestock">ear tag</ion-select-option>
    </ion-select>
  </ion-item>
  <h4 class="heading">List</h4>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start" style="--border-radius: 50%;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbv4g3IW7K8tL7xMcW3NPpIIoV85USAUcdnA&usqp=CAU">
      </ion-thumbnail>
      <ion-label>
        <h3 class="heading">CPDO Cattle</h3>
        <p></p>

      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start" style="--border-radius: 50%;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTKg4LkNnoMdno5l4hXeJWZ3HcBkpVQ_rMOQ&usqp=CAU">
      </ion-thumbnail>
      <ion-label>
        <h3 class="heading">Mikey</h3>
        <p>Goat</p>
        <ion-badge color="dark">Balagtas</ion-badge>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start" style="--border-radius: 50%;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSggkS5g1rnD-BKR1losR-ngI4Zw8LF8eTkgw&usqp=CAU">
      </ion-thumbnail>
      <ion-label>
        <h3 class="heading">Zoro</h3>
        <p>Swine</p>
        <ion-badge color="dark">Dumantay</ion-badge>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>