<ion-header>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <img src="../../assets/images/logo.png" class="logo" />

  <div class="title">
    <h2>Welcome</h2>
    <p>for tracking and monitoring livestock</p>
  </div>

  <div class="ion-margin-top">
    <ion-button expand="block" class="ion-margin-top custom-outline-button" fill="outline" color="white" shape="round"
      routerLink="/signup">SIGN UP</ion-button>
    <ion-button expand="block" class="ion-margin-top custom-button" shape="round" routerLink="/login">LOGIN</ion-button>
  </div>
</ion-content>