#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .LoginForm{
    padding-top: 5%;
    margin: 15%;
    margin-top: 25%;
    text-align: center;
    align-items: center;
  }
  .success{
    margin-top: 5%;
  }
  #forgot{
    margin-top: 30px;
  }
  .forgotP{
    color: grey;
    text-decoration: none;
  }
  .termsP{
    font-size: 10px;
    color: grey;
  }
  .termsP a {
    color: grey;
    text-decoration-color: grey;
  }