<ion-header class="ion-no-border">
 <ion-toolbar>
  <h3  style="margin-left: 15px; margin-bottom: 20px;" slot="start">Beneficiary Management</h3>
  
 </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="6">
      <h4 class="heading">Filter</h4>
    </ion-col>
    <ion-col  class="ion-text-end">
      <ion-button color="light" size="small" (click)="openAvailmentModal()">
        <ion-text color="primary">Availment Request</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-label>
      benefeciary
    </ion-label>
    <ion-select placeholder="all">
      <ion-select-option value="barangay">Barangay</ion-select-option>
      <ion-select-option value="barangay">FirstName</ion-select-option>
      <ion-select-option value="barangay">LastName</ion-select-option>
      <ion-select-option value="barangay">Animals</ion-select-option>
    </ion-select>
  </ion-item>


  <h4 class="heading">List</h4>

  <!--INFINITE SCROLL------------------------------------------------------>

  <ion-list *ngIf="beneficiaries" >
    <ion-item *ngFor="let beneficiary of beneficiaries">
      <ion-button slot="end" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-label>
        <h2>{{ beneficiary.user.fullname }}</h2>
        <p>Email: {{ beneficiary.user.email }}</p>
        <p>Contact: {{ beneficiary.user.contact }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
  


</ion-content>