.heading {
    font-size: 20px;
    font-weight: bold;
    margin: 4%;
  }
  ion-item {
    margin:10px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 6px -7px rgb(168, 167, 167);
  }
  
  ion-badge {
    margin-top: 8px;
  }
  
  ion-button {
    --padding-start: 0;
    --padding-end: 0;
    font-size: 14px;
  }

