.menu-header-bg {
  height: 180px;
  width: 350px;
  background: linear-gradient(90deg, #54a071 0%, #30503c 100%);
  transform: rotate(3);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.header-content {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 14px;
  }

  h2 {
    font-weight: 300;
    color: #fff;
  }

  p {
    font-size: 12px;
    color: #e4e4e4;
    font-weight: 100;
    letter-spacing: 0.4px;
  }
}

.action-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  ion-button {
    text-transform: capitalize;
    font-weight: 300;
    --background: #628cff;
    --border-radius: 7px;
    --box-shadow: none;
  }

  ion-icon {
    margin-right: 1px;
  }
}

.menu-items {
  margin: 0px;

  ion-icon {
    margin-right: 20px;
    color: #86979f;
  }

  ion-item {
    padding-left: 20px;
    margin-bottom: 20px;
  }
}
