<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-avatar slot="end">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKr01ShBwrOVCXvnLmdQDgaVcBYW7PVbFgdf8Qi9sdSGfIQ-g__frQ6FOhfevYW1pbH4c&usqp=CAU" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="search-btn">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <!-- <ion-icon slot="icon-only" name="notifications-outline"></ion-icon> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="ion-padding" style="margin-bottom:0; padding-bottom: 0;">
    <div>
      <h3 style="margin-bottom:0;">Service Availment
      </h3>
    </div>
  </ion-item>

  <div class="container">
    <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
      <ion-label class="ion-padding">Basic Info</ion-label>
      <ion-item class="form-item" >
        <ion-input label="Fullname:" labelPlacement="floating" type="text" fill="solid" name="fullname" required class="form-input" [(ngModel)]="formValue.fullname"></ion-input>
      </ion-item>
      <ion-item class="form-item" >
        <ion-input label="Address:" labelPlacement="floating" type="text" fill="solid" name="address" required class="form-input" [(ngModel)]="formValue.address"></ion-input>
      </ion-item>
      <ion-item class="form-item" >
        <ion-textarea label="Message:" labelPlacement="floating" type="text" fill="solid" name="description" required class="form-input" [(ngModel)]="formValue.description" [counter]="true" maxlength="150"></ion-textarea>
      </ion-item>
      <br>
      <ion-label class="ion-padding">Requirements</ion-label>
      <ion-item class="form-item">
        <ion-label position="floating" class="form-label">Referral Letter</ion-label>
        <ion-input type="file" name="referralLetter" class="form-input" accept="image/*"
          placeholder="Attach File" [(ngModel)]="formValue.referralLetter"></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="floating" class="form-label">Resident Certificate</ion-label>
        <ion-input type="file" name="residentCertificate" class="form-input" accept="image/*"
          placeholder="Attach File" [(ngModel)]="formValue.residentCertificate"></ion-input>
      </ion-item>
      <ion-button color="success" type="submit" class="form-button">Submit</ion-button>
    </form>
  </div>
 
</ion-content>