<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-avatar slot="end">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKr01ShBwrOVCXvnLmdQDgaVcBYW7PVbFgdf8Qi9sdSGfIQ-g__frQ6FOhfevYW1pbH4c&usqp=CAU" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="search-btn">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <!-- <ion-icon slot="icon-only" name="notifications-outline"></ion-icon> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <div class="main-header"></div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-label>
          <ion-note color="light" class="ion-margin-start">
            Hello!
          </ion-note>
          <p>
            <ion-chip color="light">
              <ion-label class="ion-text-wrap">
              Dinvir Asi
              </ion-label>
            </ion-chip>
          </p>
        </ion-label>
      </ion-col>
      <ion-col size="6" class="ion-text-end">
        <ion-button color="light" size="small">
          <ion-text color="primary">Avail Service</ion-text>
          <ion-icon name="add" color="primary" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-horizontal ion-margin-top">
      <ion-col>
        <ion-label color="light">
          <b>All features</b>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-horizontal">
      <ion-col size="6">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <div align="center">
              <ion-thumbnail >
                <img src="../../../assets/icon/calendar.png" />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">Calendar</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <div align="center">
              <ion-thumbnail >
                <img src="../../../assets/icon/manage.png" />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">Manage</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <div align="center">
              <ion-thumbnail >
                <img src="../../../assets/icon/offspring.png" />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark" routerLink="/offspring">Offspring Tracker</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <div align="center">
              <ion-thumbnail >
                <img src="../../../assets/icon/report.png" />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">Reporting</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-list>
      <ion-list-header>
        <ion-label><h2>RECENT TRANSACTIONS</h2></ion-label>
      </ion-list-header>
      <ion-item *ngFor="let transaction of transactions" class="transaction-item">
        <ion-icon slot="start" name="document" color="primary"></ion-icon>
        <ion-label size="large" class="ion-text-wrap">
          <b>Date: {{ transaction.date }}</b>
          <p>
            {{ transaction.description }}
          </p>
        </ion-label>
        <ion-text slot="end"> </ion-text>
      </ion-item>
    </ion-list>
  </ion-grid>
  
</ion-content>