ion-content, .body-background{
    text-align: center;
}
.ion-page{
    width: 100px;
    align-items: end;
    transform: translateX(270px);
}
.livestock-detail{
    border-radius: 10px;
}
#open-modal{
    position: relative;
}
.admin-swipe{
    border-radius: 20px;
}
.logo {
    width: 20px;
    height: 15px; 
  }
#swipes{


    --ion-background-color: radial-gradient(rgb(255, 255, 255), rgb(233, 233, 233));
    opacity: 0.9;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px rgb(168, 167, 167);
 }

.admin-total{
    opacity: 0.8;
    margin: 0;
 }
 ion-grid{
    margin: 0;
 }

 
