<ion-header class="ion-no-border">
  <h4 class="Title">Beneficiary Management</h4>
</ion-header>

<ion-content>

  <h4 class="heading">filter</h4>

  <ion-item>
    <ion-label>
      benefeciary
    </ion-label>
    <ion-select placeholder="all" [(ngModel)]="selectedBeneficiary" (ionChange)="onBeneficiarySelect">
      <ion-select-option value="barangay">Barangay</ion-select-option>
      <ion-select-option value="barangay">FirstName</ion-select-option>
      <ion-select-option value="barangay">LastName</ion-select-option>
      <ion-select-option value="barangay">Animals</ion-select-option>
    </ion-select>
  </ion-item>

  <!--SEARCH BAR------------------------------------------------------>

  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Search Name or ID"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let result of results">
      <ion-label>{{ result }}</ion-label>
    </ion-item>
    
  </ion-list>

  <!--END SEARCH BAR------------------------------------------------------>
  
  <h4 class="heading">List</h4>

  <!--INFINITE SCROLL------------------------------------------------------>
  
  <ion-list>
    <ion-item *ngFor="let item of items; let index">
      <ion-avatar slot="start">
        <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
      </ion-avatar>
      <ion-label>{{ item }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

<!--------------------------------------------------------------------------------->


</ion-content>