<ion-content>
  <div class="cover-photo">
    <ion-button class="back-button ion-padding" routerLink="/user-tabs/dashboard">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="profile-cards ion-padding">
    <div class="profile-card">
      <div class="profile-image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxKYB_mwX1UfpPRLzRsRe3fZjZvCNVxtZQug&usqp=CAU"
          alt="Profile Image" />


        <h2 class="name-slot">
          AB Corpuz<br> <span class="email-subtext">abraham@gmail.com</span>
        </h2>
      </div>
      <div class="divider"></div>
      <div class="profile-details">
        <div class="details-row">
          <div class="detail">
            <p>Offspring Livestock</p>
            <p>4</p>
          </div>
          <div class="detail">
            <p>Received Livestock</p>
            <p>2</p>
          </div>
          <div class="detail">
            <p>Returned Livestock</p>
            <p>1</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="clean-content">
    <div class="clean-content-inner">
      <div class="centered-content">
        <img
          src="https://png.pngtree.com/png-vector/20190115/ourlarge/pngtree-ui-default-page-page-404-page-loss-no-content-yet-png-image_344465.jpg"
          alt="Clean Content Image" />
        <p>There's nothing in here~</p>
      </div>
    </div>
  </div>
</ion-content>