<ion-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-icon name="arrow-back-outline" routerLink="/welcome"></ion-icon>
  <img src="../../assets/images/logo.png" class="logo" />
  <div class="title">
    <h4>Login</h4>
    <p>Lets get started</p>
  </div>
  <ion-item>
    <ion-label position="floating">
      <ion-icon name="mail"></ion-icon>
      Email
    </ion-label>
    <ion-input [(ngModel)]="userData.email" placeholder="Enter your email" class="primary-input" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">
      <ion-icon name="lock-closed"></ion-icon>
      Password
    </ion-label>
    <ion-input placeholder="Password" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="userData.password"></ion-input>
    <ion-icon slot="end" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" (click)="togglePasswordVisibility()"></ion-icon>
  </ion-item>

  <div class="ion-margin-top ion-text-right forget">
    <a>Forgot Password?</a>
  </div>

  <div class="ion-margin-top">
    <ion-button class="custom-button" expand="block" shape="round" (click)="loginUser()">LOGIN</ion-button>
  </div>
  <div class="ion-margin-top ion-text-center">
    <a routerLink="/signup">Create account</a>
  </div>

</ion-content>
<ion-footer>

</ion-footer>