.title {
  margin-bottom: 30px;
}

.title h4 {
  color: #30503c;
}
.custom-button {
  --background: #30503c;
  color: white;
}
.custom-outline-button {
  color: #30503c;
}
.title p {
  margin-top: 0 !important;
  color: #999999;
  font-size: small;
}
// #44d3b8
.forget a {
  font-size: small !important;
}
.logo {
  width: 50%;
  margin: auto;
  display: block;
}
a {
  text-decoration: none;
}
