<ion-content>
  

<!--BOTTOM NAVIGATORS------------------------------------------------------->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="admin-dashboards" class="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="admin-beneficiary" class="Identification">
      <ion-icon name="people-outline"></ion-icon>
      Beneficiary
    </ion-tab-button>
    <ion-tab-button tab="admin-livestock" class="livestock">
      <ion-icon name="newspaper-outline"></ion-icon>
      Livestock Management
    </ion-tab-button>
    <ion-tab-button tab="admin-dispersal" class="dispersal">
      <ion-icon name="library"></ion-icon>
      Dispersal
    </ion-tab-button>
    <ion-tab-button tab="Logoff" class="logoff">
      <ion-icon name="log-in-outline" [routerLink]="['/home']"></ion-icon>
      Logout
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>