

<!--BOTTOM NAVIGATORS------------------------------------------------------->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="admin-dashboard" class="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="admin-beneficiary-tabs" class="Identification">
      <ion-icon name="people-outline"></ion-icon>
      Beneficiary
    </ion-tab-button>
    <ion-tab-button tab="admin-livestock-tabs" class="livestock">
      <ion-icon name="newspaper-outline"></ion-icon>
      Livestock Management
    </ion-tab-button>
    <ion-tab-button tab="admin-dispersal-tabs" class="dispersal">
      <ion-icon name="library"></ion-icon>
      Dispersal
    </ion-tab-button>
    <ion-tab-button tab="Logoff" class="logoff">
      <ion-icon name="log-in-outline" [routerLink]="['/admin-login-page']"></ion-icon>
      Logout
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>